@charset "UTF-8";

/* 共通部分 */
html {
    font-size: 100%;
}
header {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;  /* ヘッダーの幅 */

}
body {
    line-height: 1.7;
    color: black;
    margin: 0;
    padding: 0;
}
footer {
    text-align: center;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
h2 {
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
}

/* header */
.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: 20px 0;
    list-style: none;
    color: white;
}
.main-nav li {
    margin-right: 20px;
    cursor: pointer;
}
.main-nav li:hover {
    color: green;
}
/* .main-nav a {
    color: black;
} */
/* .main-nav a:hover {
    color: green;
} */
.page-header {
    display: flex;
    justify-content: space-between;
    /* margin: 0;   */
    
}
.page-header h1 {
    font-size: 1.5rem;
    margin-top: 20px;
}
#my-name {
    color: white;
    margin-left: 20px;
    cursor: pointer;
}
.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4%;
}

/* HOME */
.home-content {
    text-align: center;
    margin-top: 10%;
}
.home-content p {
    font-size: 1.25rem;
    margin: 10px 0 42px;
}
.big-bg {
    background-size: cover;
    background-position: center top;
}
.big-name {
    font-size: 5rem;

}
#home {
    background-image: url(../images/yakei.jpg);
    min-height: 100vh;
    /* filter: blur(2px) grayscale(1); */
}

/* PROFILE */
.profile-content {
    margin-top: 0;
    padding: 20px 0;
    background-color: rgb(110, 137, 218);
}

.profile-content img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    background-position: 50% 50%;
    border-radius: 50%;
}
#bio {
    display: flex;
    color: black;

}
#bio p {
    font-size: 1.25rem;
    margin-top: 0;
}
#bio-text {
    flex-shrink: 0; /* 縮小しない */
    flex-grow: 1; /* 親要素の幅いっぱいに拡張 */
    text-align: left;
    margin-left: 20px;
}
#bio-name {
    font-weight: bold;
    margin-bottom: 0;
    padding-top: 20px;
}
#sns-list {
    list-style: none;
    display: flex;
    padding-left: 0;
}
#sns-list li {
    margin-right: 15px;
}
#sns-list a {
    color: black;
}

/* CARRER */
.career-content {
    margin-top: 0;
    padding: 20px 0;
    background-color: white;
}
.timeline {
    list-style: none;
}
.timeline > li {
margin-bottom: 60px;
}
.timeline-content h3 {
    margin-top: 15px;

}

@media ( min-width : 640px ) {
    .timeline > li {
        overflow: hidden;
        margin: 0;
        position: relative;
      }
      .timeline-date {
        width: 110px;
        float: left;
        margin-top: 20px;
      }
      .timeline-content {
        width: 75%;
        float: left;
        border-left: 3px #e5e5d1 solid;
        padding-left: 30px;
      }
      .timeline-content:before {
        content: '';
        width: 12px;
        height: 12px;
        background: rgb(110, 137, 218);
        position: absolute;
        left: 106px;
        top: 24px;
        border-radius: 100%;
      }
}

.work-item {
    padding-bottom: 40px;
}
#work1-title {
    width: 500px;
}
#work1-game {
    width: 500px;
}
.twitter {
    width: 400px;
    margin: 0 auto;
}
.work-item-resource {
    text-align: center;
}
#work3-img {
    width: 700px;
}

/* SKILL */
.skill-content {
    margin-top: 0;
    padding: 20px 0;
    background-color: rgb(110, 218, 160);
}

.skill-set {
    margin-bottom: 20px;
}